@font-face {
  font-family: 'Noah';
  src: url("../fonts/Noah-Regular.ttf");
}

@font-face {
  font-family: 'Noah';
  src: url("../fonts/Noah-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: 'Noah';
  src: url("../fonts/Noah-RegularItalic.otf");
  font-style: italic;
}

@font-face {
  font-family: 'Noah';
  src: url("../fonts/Noah-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}
