@import 'variables';
@import 'bootstrap/scss/bootstrap';
@import 'fonts';
@import 'variablesRoot';
@import 'card';

body {
  background: #F5F5F5;
}

body .layout {
  overflow-x: hidden;
}

.clickable {
  cursor: pointer;
}

.form-control-lg {
  border-radius: 0.25rem;
}

.btn-lg {
  --bs-btn-border-radius: 0.25rem;
}

.carousel {
  text-align: initial !important;
}

a {
  text-decoration: none;
}

th {
  color: $primary !important;
}
